@use "sass:math";
@import "../../assets/styles/main.scss";

.Hero {
  position: relative;
  text-align: center;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: rem(1085);
}
