@use "sass:math";
@import "../../assets/styles/main.scss";

.HeroTitle {
  margin: auto;
  padding-top: rem(92);
  max-width: rem(860);
  font-family: "Gilroy";
  font-size: rem(80);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: $secondaryColor;
}
